<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF</title>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    .container {
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    .document-title {
      text-align: center;
      color: #3EB1DF;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .participants-card {
      width: 80%;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }

    .participant h3 {
      color: #3EB1DF;
      margin-left: 15px;
      margin-bottom: 15px;
    }

    .participant .infos {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .participant .footer {
      margin: 15px;
    }

    .participant .infos img {
      width: 80px;
      border-radius: 50%;
      margin-right: 15px;
    }

    h2 {
      margin-top: 60px;
      color: #3EB1DF;
      margin-bottom: 15px;
      margin-left: 90px;
    }

    .rights {
      width: 100%;
      height: 250px;
      border-left: 3px solid #3EB1DF;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 90px;
    }

    .rights span {
      font-size: 22px;
      margin-left: 15px;
    }

    .rights span strong {
      color: #3EB1DF;
    }

    .middle-content {
      margin-top: 80px;
      width: 100%;
      height: 150px;
      background-color: #3EB1DF;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
    }

    .middle-content .info h2 {
      margin-top: 0;
      color: whitesmoke;
      max-width: 50%;
    }

    .middle-content .info p {
      color: whitesmoke;
      max-width: 90%;
    }

    .signature {
      width: 50%;
      height: 100px;
      margin: 150px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .signature .location {
      margin-bottom: 30px;
    }

    .pdf-footer {
      width: 100%;
      height: 30px;
      background-color: #3EB1DF;
      display: flex;
      justify-content: center;
    }

    .pdf-footer strong {
      color: whitesmoke;
    }


  </style>
</head>
<body>
  {{{ body }}}
</body>
</html>